.content-list-container {
    width: 500px;
    margin-left: 20px;
    .list-input-container {
        width: 300px;
    }
    .change-item-btn {
        margin-left: 20px;
        margin-right: 20px;
    }
}